/week9-week9_17.FirstPackages/build/
/week9-week9_18.Moving/build/
/week9-week9_20.SensorsAndTemperatureMeasurement/build/
/week9-week9_21.Printer/build/
/week9-week9_22.FileAnalysis/build/
/week9-week9_23.WordInspection/build/
/week9-week9_24.MultipleEntryDictionary/build/
/week9-week9_25.DuplicateRemover/build/
/week9-week9_26.PhoneSearch/build/
/week10-week10_30.Container/nbproject/private/
/week10-week10_31.FarmSimulator/nbproject/private/
/week10-week10_28.Groups/nbproject/private/
/week10-week10_27.TheFinnishRingingCentre/nbproject/private/
/week10-week10_29.PersonAndTheirHeirs/nbproject/private/
/week10-week10_32.DifferentBoxes/nbproject/private/
/week10-week10_33.Dungeon/nbproject/private/
/week10-week10_27.TheFinnishRingingCentre/build/